<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
  </head>
  <body>
    <h1>This is the home page</h1>
    <main>
      <div class="chatbot-section">
        <figure class="mobile">
          <div class="app">
            <!-- Header -->
            <div class="header">
              <!-- avatar -->
              <img
                class="avatar"
                src="https://i.pinimg.com/736x/05/3a/08/053a0826a8c0c0011b954494bafed505--ux.jpg"
                alt="Chatbot"
              />
              <!-- name & status -->
              <p class="leading-[.5rem]">
                <span class="font-semibold text-sm">College Enquiry BOT</span>
              </p>
            </div>

            <!-- Chat section -->
            <div class="chat-messages">
              <div class="chat-message incoming-message">
                Hi, I am College Enquiry Bot ! Ask me anything related to :
                <ol>
                  <li>Semester wise result 📜📚</li>
                  <li>Faculty 🧑‍🏫👩‍🏫</li>
                  <li>Holidays 🥳</li>
                  <li>Joke 😃</li>
                  <li>etc...</li>
                </ol>
              </div>
            </div>

            <!-- chat input section -->
            <div class="chat-input-section">
              <form id="chat-form">
                <input
                  id="chat-input"
                  type="text"
                  aria-label="chat-input"
                  placeholder="Type a message ..."
                />
                <button
                  class="svg-btn"
                  type="submit"
                  aria-label="send-message-btn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="chat-input-svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="white"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5l7 7-7 7"
                    />
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </figure>
        <div class="button-container">
          <button onclick="toggleChatBot()" class="chat-open-btn">
            <img
              src="https://cdn.onlinewebfonts.com/svg/img_397748.png"
              alt="chat bot"
            />
          </button>
        </div>
      </div>
    </main>
    <script src="{{url_for('static',filename='chat.js')}}"></script>
  </body>
</html>
