<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Enquiry Chatbot</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
  </head>
  <body>
    
    <!-- <main>
      <h1>College Enquiry Chatbot System</h1>
    <p>This chatbot will respond to students' queries regarding university. Questions like "When are holidays ? ", "Can you tell more about teachers?","How long does MCA take ?","What is my CGPA this sem" can be answered by this chatbot. The original topic of this project is "Efficient Chatbot Design". Read the detailed exolanation on how we created this efficient chatbot design <a href="https://github.com/abhik-b/college-enquiry-chatbot/blob/master/Explanation.md" target="_blank">here.</a></p>

    <h3>  All features :</h3>
      <ul>
        <li>Ask result or CGPA</li>
        <li>Queries related to faculty</li>
        <li>Course details & syllabus</li>
        <li>Ask about holidays</li>
      </ul>
    
      <h3>How to Interact :</h3>
    <ul>
      <li>Please Click on the chat button on the bottom-right corner. </li>
      <li>Then interact with the chatbot : 
          <ol>
            <li>Try greeting the bot </li>
            <li>ask for your result </li>
            <li>ask for any particular course</li>
            <li>Enquire about faculties or holidays</li>
            <li>Ask for jokes !!!</li>
          </ol>
      </li>
    </ul>
  </main> -->
      <div class="chatbot-section">
        <figure class="mobile hidden">
          <div class="app">
            <!-- Header -->
            <div class="header">
              <!-- avatar -->
              <img
                class="avatar"
                src="{{url_for('static',filename='dp.png')}}"
                alt="Chatbot"
              />
              <div>

                <p>NIT Enquiry CHATBOT</p>
                <span>Online</span>
              </div>
              <!-- name & status -->
            </div>

            <!-- Chat section -->
            <div class="chat-messages">
              <div class="chat-message incoming-message">
              👋  Hello, I am College Enquiry Bot 
              </div>
              <div class="chat-message incoming-message">
              Ask me anything related to :
                <ol>
                  <li>Semester wise result 📜📚</li>
                  <li>Faculty 🧑‍🏫👩‍🏫</li>
                  <li>Holidays 🥳</li>
                  <li>Joke 😃</li>
                  <li>etc...</li>
                </ol>
              </div>
            </div>

            <!-- chat input section -->
            <div class="chat-input-section">
              <form id="chat-form">
                <input
                  id="chat-input"
                  type="text"
                  aria-label="chat-input"
                  placeholder="Type a message ..."
                />
                <button
                  class="svg-btn"
                  type="submit"
                  aria-label="send-message-btn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="chat-input-svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="white"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5l7 7-7 7"
                    />
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </figure>
        <div class="button-container">
          <button onclick="toggleChatBot()" class="chat-open-btn">
            <img
              src="https://cdn.onlinewebfonts.com/svg/img_397748.png"
              alt="chat bot"
            />
          </button>
        </div>
      </div>
    
    <footer>This site is coded by Abhik Bhattacharya , Pritam Chatterjee  & Aliva Mandal</footer>
    <script src="{{url_for('static',filename='chat.js')}}"></script>
  </body>
</html>
