<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
  </head>
  <body>
    <h1>This is the home page</h1>
    <main>
     <!-- Aliva will write here , delete this comment before starting -->
    </main>
    <script src="{{url_for('static',filename='chat.js')}}"></script>
  </body>
</html>
