*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  padding: 2em 1.5em;
  background-color: hsl(0, 0%, 96%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}
main {
  display: grid;
  place-items: center;
  gap: 4em;
}

ol {
  padding: 16px;
}
/* Aliva will write css here */