*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}


body {
  padding: 2em 1.5em 1em;
  background-color: hsl(0, 0%, 96%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* main {
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:.5em;flex:1;
  width:50%;
} */

ul,ol {
  padding:  4px 24px ;
}
.chatbot-section {
  margin-top: 2.5em;
  display: grid;
  place-items: center;
}
.button-container {
  max-width: 320px;
  display: grid;
}
.chat-open-btn {
  background: transparent;
  cursor: pointer;
}
.chat-open-btn img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.mobile {
  padding: 1em;
  border-radius: 16px;
  background: hsl(0, 0%,99%);
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-items: center;
  transition: all 500ms ease;
  position: relative;
  border:2px solid rgba(0, 0, 0, 0.632);
}

.mobile::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-75deg, #ff27f8 0%, #0effcf 100% );
  transform: translate3d(0px, 20px, 0) scale(1);
  filter: blur(20px);
  opacity: 1;

  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.mobile::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      

.app {
  background-color: #f9f8fd;
  border-radius: 16px;
  min-width: 340px;
  max-height: 900px;
  overflow-x: auto;
  padding-bottom: 0;
}

.app::-webkit-scrollbar {
  appearance: none;
  width: 0;
}
.chat-messages::-webkit-scrollbar {
  appearance: none;
  width: 0;
}
button[type='submit'] {
  background-color: #1979fa;
}
input[type='radio'] {
  appearance: none;

  width: 16px;
  height: 16px;
  padding: 4px;

  border: 2px solid #1979fa;
  border-radius: 9999px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.paragraph {
  color: hsl(270, 7%, 64%);
}
.header {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0.5em; 
  padding-top: 0.25em; 
  display: flex;
  place-items: center;
  gap: 4px;

  background: rgb(255 255 255 /.75);
  color: rgb(0 0 0 /1);
  border-bottom: 4px double rgba(0, 0, 0, 0.578);
}
.header p{
  font-size: 1.4em;
  font-style: bold;
}
.header span{
  color: #028b70;
}

.avatar {
  height: 48px;
  width: 48px;
  border: 2px solid white;
  border-radius: 999px;
  object-fit: fill;
}

.chat-messages {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.5em;
  overflow-y: auto;
  max-height: 480px;
  height: 480px;
  scroll-behavior: smooth;
}
.chat-message {
  padding: 0.5em;
  border-radius: 12px;
  max-width: 180px;
  font-size: 16px;
}
.chat-message ol{
  padding:4px 16px;
}

.incoming-message {
  border-bottom-left-radius: 0px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px -1px #00000027,0 4px 8px -2px #0000001f;

}

.outgoing-message {
  border-bottom-right-radius: 0px;
  background-color: #1979fa;
  color: #fff;
  align-self: flex-end;

}
.file-message {
  box-sizing: border-box;
  cursor: pointer;
  background: #ec485b;
  padding: .5em;
  color: white;
  box-shadow: 0 4px 6px -1px #0000002e,0 2px 4px -2px #0000002e;
}

.chat-input-section {
  padding: 0.5em;
}

#chat-form {
  /* flex w-full rounded-3xl bg-white ring-cyan-500 focus-within:ring-2 */
  display: flex;
  width: 100%;
  gap:4px;

}

#chat-input {
  border-radius: 8px;
  border:1px solid #1979fa;
  padding: 1em 0.5em;
  flex: 1;
  background: white;
}

.svg-btn {
  padding: 0.75em 0.75em;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.chat-input-svg {
  height: 1.5em;
  width: 1.5em;
}
footer{
  margin-top: auto;
  color:rgba(0,0,0, 0.35);
}


.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
}


